.side-ber
  .side-ber__user-name
    .side-ber__user-name__item
      .side-ber__user-name__item__name
        = current_user.name
      .side-ber__user-name__item__icom
        = link_to "#", class: "top-item-icon" do
          = icon("fa","edit",class: "item__btn--icon")
        = link_to edit_user_path(current_user), class: "top-item-icon" do
          = icon("fa","cog",class: "item__btn--icon")
  .side-ber__group
    .side-ber__group__list
      .side-ber__group__list__name 
        techcanp
      .side-ber__group__list__word 
        まだテキストはありません
    .side-ber__group__list
      .side-ber__group__list__name
        techcanp2
      .side-ber__group__list__word
        まだテキストはありません